h1{
	font-size: 36px !important;
	color: purple !important;
}
div{	
	margin: 2px;
	padding: 10px;
}
form{
	width:50%;
}
table{
	border: 1px solid #000000;
	align-self: center;
}
body.lina{
	background: #F08080;
	margin: 10px;
	padding: 20px;
	align-content: center;
}
.img-inicio{
	display: block;
    height: auto;
    margin: 0 auto 10px;
    width: 40%;
}

#contenedorMio{
	width: 30%;
	margin: auto;
	position: static;
}
.buttons{
	margin-top: 30px;
}